<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>71675337893-ql8p8hu0hmd67r2sbusoqusp4aju28ob.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.71675337893-ql8p8hu0hmd67r2sbusoqusp4aju28ob</string>
	<key>API_KEY</key>
	<string>AIzaSyDBBC4WZA_xt4AlsoDCzGDZKCOSCwFgcPM</string>
	<key>GCM_SENDER_ID</key>
	<string>71675337893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoAppCleanArchitecture</string>
	<key>PROJECT_ID</key>
	<string>todo-mobile-app-d8b8f</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-mobile-app-d8b8f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71675337893:ios:5274a15648b29619d0414c</string>
</dict>
</plist>